.theme_item::before {
  content: "- ";
}


.theme_item {
    font-size: 30px;
    margin-bottom: 5px;
}

.theme_title {
    margin-right: 10px;
    text-decoration: underline;
}

.cross_button {
    border: none;
}

.cross_button img {
    display: block;
    width: 16px;
    height: 16px;
}
