.article_form {
    position: absolute;
    border: 3px solid #5e81ac;
    border-radius: 10px;
    width: 50%;
    background-color: #eceff4;
    padding: 20px;
    left: 25%;
    top: 20%;
}

.article_form__form {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 20px;
}

.description {
    margin-bottom: 20px;
}
