.search_wrapper {
    width: 70%;
    margin: 0 auto;
}

.search_top {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
}

.search_input {
    width: 80%;
    margin-right: 5%;
    font-size: 16px;
}

.search_btn {
    font-size: 16px;
}

.search_results {
    list-style: none;
    height: 100%;
}

.search_in__list {
    list-style: none;
    display: none;
}

.order_acsending__list {
    list-style: none;
    display: none;
}

.search_in__title:hover  .search_in__list{
    display: block;
}

.order_acsending__title:hover  .order_acsending__list{
    display: block;
}
