.hide {
    display: none;
}

.saved_themes {
    margin-bottom: 20px;
}

.saved_themes__title {
    margin-bottom: 10px;
}

.saved_themes__list {
    margin-bottom: 20px;
}


.new_theme__form {
    padding: 0;
    border: none;
    outline: none;
}


.new_theme__form[value] {
    font-family: serif;
    text-decoration: underline;
    font-size: 30px;
}

.new_theme__before {
    box-sizing: content-box;
    display: inline;
    font-size: 30px;
}
