.resource_title {
    outline: none;
    border: none;
    display: block;
    resize: none;
    font-size: 30px;
    width: 70%;
    font-weight: bold;
}

.resource_description {
    outline: none;
    border: none;
    display: block;
    resize: none;
    width: 70%;
    margin-bottom: 20px;
}
