.resource_title {
    text-decoration: underline;
    border: none;
    font-size: 20px;
}


.cross_button {
    border: none;
}

.cross_button img {
    display: block;
    width: 16px;
    height: 16px;
}

.resource_item::before {
    content: "- ";
}
